

<!DOCTYPE html>
{% extends "rango/base.html" %}
{% load staticfiles %}
{% block title %}Welcome to bernie!{% endblock %}


{% block body_block %}
    <h1>bernie says...</h1>
    <div>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Sign In</a></li>
                <li><a href="{% url 'register' %}">Sign Up</a></li>
            {% endif %}
                <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'index' %}">Index</a></li>
        </ul>
    </div>

    <div>
        <a href="/rango/add_category/">Add a New Category</a><br />
    </div>
    <div>
        <a href="/rango/about/">About</a><br/>
        <img src="{% static '/static/images/food.JPG' %}" alt="Picture of food" />
    </div>
{% endblock %}
