

<!DOCTYPE html>
{% extends "rango/base.html" %}
{% load staticfiles %}
{% block title %}Welcome to bernie!{% endblock %}


{% block body_block %}
    <h1>bernie says...</h1>
    <div>
        {% if user.is_authenticated %}
            howdy {{ user.username }}!
        {% else %}
            hey there partner!
        {% endif %}
    </div>

    <div>
        <a href="/rango/add_category/">Add a New Category</a><br />
    </div>
    <div>
        <a href="/rango/about/">About</a><br/>
        <img src="{% static '/static/images/food.JPG' %}" alt="Picture of food" />
    </div>
{% endblock %}
